@model BTL_WNC.ViewModels.TaskViewModel

@{
    ViewData["Title"] = "Danh Sách Người Dùng";
}

<link href="~/css/stylealluser.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Danh Sách Người Dùng</h1>
        <input type="text" id="searchInput" class="form-control search-input" placeholder="Tìm kiếm người dùng theo tên..." />
    </div>
    <div class="user-container">
        @foreach (var user in Model.Users)
        {
            <div class="user-card">
                <div class="profile-image">
                    @if (user.RoleId == "role1")
                    {
                        <img src="~/image/anhadmin.jpg" alt="Admin Image" />
                    }
                    else
                    {
                        <img src="~/image/image_user.jpg" alt="User Image" />
                    }
                </div>
                <div class="user-info">
                    <h3>@user.Name</h3>
                    <p>Email: @user.Email</p>
                    <p>Phone: @user.PhoneNumber</p>
                </div>
                @if ((bool)ViewBag.IsAdmin)
                {
                    <form asp-action="DeleteUser" method="post" onsubmit="return confirmDeletion();" class="mt-2">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                }
            </div>
        }
    </div>
</div>

<script src="~/js/alluser.js"></script>
    
