@model BTL_WNC.Models.Project

@{
    ViewData["Title"] = "Project";
} 
<form asp-action="AddProject">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Decription" class="control-label"></label>
        <textarea asp-for="Decription" class="form-control" required></textarea>
        <span asp-validation-for="Decription" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <input type="submit" value="Create Project" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" style="background-color: #0d6efd; color:white; border-color: #0d6efd" id="closeAddModalButton">Cancel</button>
    </div>
</form>