@model BTL_WNC.Models.Project

<form id="editProjectForm" asp-action="EditProject" method="post">
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Decription" class="control-label"></label>
        <textarea asp-for="Decription" class="form-control"></textarea>
        <span asp-validation-for="Decription" class="text-danger"></span>
    </div>
</form>

